/** ==============================
    Insets
    ============================== **/

/** 
 *  Insetting a layout or panelgroup into a panel. Currently this is a hack
 *  that only works one level deep -- and then only from a 200x200 original.
 */

.panel > .layout {
  display: grid;
  border: 0px;
  margin: 10px;
  padding: 0px;
  width:  130px; /* 65%; 130px; */
  height: 130px; /* 65%; 130px; */
  background: transparent;
  clear: both;
}

.panel > .panelgroup {
  display: grid;
  border: 0px;
  margin: 10px;
  padding: 0px;
  width:  130px; /* 65%; 130px; */
  height: 130px; /* 65%; 130px; */
  background: transparent;
  clear: both;
}
