/** ==============================
    Bleeds
    ============================== **/

.panel.bl {
  background: #d3d3d3;
}
.panel.bl.left {
  transform-origin: right; transform: scale(1.55,1);
}
.panel.bl.right {
  transform-origin: left; transform: scale(1.55,1);
}
.panel.bl.up {
  transform-origin: bottom; transform: scale(1,1.55);
}
.panel.bl.down {
  transform-origin: top; transform: scale(1,1.55);
}
.panel.bl.left.up {
  transform-origin: bottom right; transform: scale(1.55,1.55);
}
.panel.bl.right.up {
  transform-origin: bottom left; transform: scale(1.55,1.55);
}
.panel.bl.left.down {
  transform-origin: top right; transform: scale(1.55,1.55);
}
.panel.bl.right.down {
  transform-origin: top left; transform: scale(1.55,1.55);
}
.panel.bl.left.right {
  transform-origin: center center; transform: scale(1.6,1);
}
.panel.bl.up.down {
  transform-origin: center center; transform: scale(1,1.6);
}
.panel.bl.left.right.up {
  transform-origin: center bottom; transform: scale(1.6,1.55);
}
.panel.bl.left.right.down {
  transform-origin: center top; transform: scale(1.6,1.55);
}
.panel.bl.up.down.left {
  transform-origin: right center; transform: scale(1.55,1.6);
}
.panel.bl.up.down.right {
  transform-origin: left center; transform: scale(1.55,1.6);
}
.panel.bl.up.down.left.right {
  transform-origin: center center; transform: scale(1.6,1.6);
}

.panel.bl.up-half {
  transform-origin: center bottom; transform: scale(1.6,1.55);
}
.panel.bl.down-half {
  transform-origin: center top; transform: scale(1.6,1.55);
}
.panel.bl.left-half {
  transform-origin: right center; transform: scale(1.55,1.6);
}
.panel.bl.right-half {
  transform-origin: left center; transform: scale(1.55,1.6);
}
.panel.bl.all {
  transform-origin: center center; transform: scale(1.6,1.6);
}



.panel.bleed{
  position: relative;
  /* overflow: visible; */
  background:#ccc;
}
.panel.bleed:before {
  position: absolute;
  overflow: hidden;
  content: '';
//  left: 0;
//  top:0;
  height: 100%;
  width: 100%; /* 100vw */
  z-index: -1;
}

.panel.bleed.all {
  position: absolute;
  height: 120%;  /* magic number 127% */
  width: 120%;   /* magic number 127%/133% */
  transform: translate(-20px, -20px);
  text-align:  center;
  border: 2px #000;
}
.panel.bleed.up {
  bottom: 10%;
  height: 105%;
//  height: 150%; /* magic number 150% */
//  bottom: 55%;  /* magic number 55% */
  /* align text label to bottom of box https://stackoverflow.com/a/17123364/7207622 */
  display: flex;
  align-items: flex-end;
  /* end align */
}
.panel.bleed.down {
  height: 150%;
}
.panel.bleed.left {
  margin-left: -2px;
  text-align:right;
//  width: 140%;
//  transform: translateX(-40%);
  width: 150%;
  right: 17%; /* magic number */

}
.panel.bleed.right {
  width: 150%;
}
/* fix text-align not working with flex display in up+left corner-case */
//.panel.bleed.up.left {
//  justify-content: flex-end;
//}

.panel.bleed.all {
  background: repeating-linear-gradient(
    0deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.left {
  background: repeating-linear-gradient(
    0deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.right {
  background: repeating-linear-gradient(
    180deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.up {
  background: repeating-linear-gradient(
    90deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.down {
  background: repeating-linear-gradient(
    270deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.up.left {
  background: repeating-linear-gradient(
    45deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.down.right {
  background: repeating-linear-gradient(
    45deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.up.right {
  background: repeating-linear-gradient(
    -45deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.down.left {
  background: repeating-linear-gradient(
    -45deg,
    #aaa 4px,
    #ddd 8px);
}















//.panel.bleed{
//  position: relative;
//  /* overflow: visible; */
//  background:#ccc;
//}
//.panel.bleed:before {
//  position: absolute;
//  overflow: hidden;
//  content: '';
////  left: 0;
////  top:0;
//  height: 100%;
//  width: 100%; /* 100vw */
//  z-index: -1;
//}
//
//.panel.bleed.all {
//  position: absolute;
//  padding: 0;
//  margin:  0;
//  text-align:  center;
//  height: 200%;
//  width:  200%;
////  height: 200px;  /* magic number 127% */
////  width: 200px;   /* magic number 127%/133% */
//  border: 2px #000;
//}
//.panel.bleed.up {
//  height: 150%; /* magic number 150% */
//  bottom: 55%;  /* magic number 55% */
//  /* align text label to bottom of box https://stackoverflow.com/a/17123364/7207622 */
//  display: flex;
//  align-items: flex-end;
//  /* end align */
//}
//.panel.bleed.down {
//  height: 150%;
//}
//.panel.bleed.left {
//  margin-left: -2px;
//  text-align:right;
//  width: 150%;
//  right: 17%; /* magic number */
//
//}
//.panel.bleed.right {
//  width: 150%;
//}
///* fix text-align not working with flex display in up+left corner-case */
//.panel.bleed.up.left {
//  justify-content: flex-end;
//}
//
//.panel.bleed.all {
//  background: repeating-linear-gradient(
//    0deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.left {
//  background: repeating-linear-gradient(
//    0deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.right {
//  background: repeating-linear-gradient(
//    180deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.up {
//  background: repeating-linear-gradient(
//    90deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.down {
//  background: repeating-linear-gradient(
//    270deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.up.left {
//  background: repeating-linear-gradient(
//    45deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.down.right {
//  background: repeating-linear-gradient(
//    45deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.up.right {
//  background: repeating-linear-gradient(
//    -45deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.down.left {
//  background: repeating-linear-gradient(
//    -45deg,
//    #aaa 4px,
//    #ddd 8px);
//}
