/** ==============================
    Panelgroups
    ============================== **/

/**
 * a panelgroup is either:
 * - a simple row
 * - a group of rows that share the same column grid
 * - a group of rows joined by rowspans
 */
.panelgroup {
  display: grid;
  height: auto;
  white-space: nowrap;
  /* overflow: hidden; */
  min-width:  0px;
  min-height: 0px;
  grid-auto-columns: minmax(0, 1fr);
   /* grid-template-columns: repeat(auto, 1fr); */
  grid-gap: 5px; /* 5px -- in-group gap */
  border: 0px solid #00f;
  /* padding-top:   5px; */
  /* padding-bottom:  5px; */
  padding-bottom: 0px;
}
.panelgroup:last-child {
  padding-bottom: 0px;
}

/*
.panelgroup{
  border-left:    1px solid #000;
  border-right:   1px solid #000;
}
.panelgroup:first-child {
  border-top:     1px solid #000;
}
.panelgroup:last-child {
  border-bottom:  1px solid #000;
}
*/

/**
 * width
 * specify the count of grid cells expected in a row
 * or the count of columns in a row group.
 * Currently the html renderer computes w values
 * from panel counts and column widths
 * in order for layouts to wrap correctly.
 */
 @for $i from 1 through 20 {
  .panelgroup.w#{$i} , .spread.w#{$i} { grid-template-columns: repeat(#{$i}, 1fr); }
}
