/** ==============================
    Panels
    ============================== **/

/** 
 *  A panel (in the panelcode-box renderer) is a rectangular unit of space.
 *  It is generally full, but may be empty. It may have a texture, color,
 *  label, bleeds, or all of the above.
 */

.panel {
  display: grid; /* inset is vertical -- w flex, inset is horizontal */
  align-items: center;
  justify-content: center;

  background-color: #ddd;
  color: #999;
  border: 1px solid #999;
  border-radius: 0px; /* 2px */
  padding: 1px;
  /* text-align: center; */
}
.panel {
  overflow: hidden;
  font-size: 50%;
}

/**
 * panel column spans
 */
 @for $i from 1 through 20 {
  .panel.c#{$i} { grid-column-end: span $i }
}

/**
 * panel row spans
 */
 @for $i from 1 through 20 {
  .panel.r#{$i} { grid-row-end: span $i }
}

/**
 * panel column placements
 */
 @for $i from 1 through 20 {
  .p#{$i} { grid-column: $i }
}
