/** ==============================
    Bleeds
    ============================== **/

@mixin bleed( $back, $fwd ) {
  background: #d3d3d3;
  &-up, &-u {
    &.panel, & .panel {
      transform-origin: bottom; transform: scale(1,1.55);
    } 
  }
  &-down, &-d {
    &.panel, & .panel {
      transform-origin: top; transform: scale(1,1.55);
    }
  }
  &-back, &-b {
    &.panel, & .panel {
      transform-origin: $fwd; transform: scale(1.55,1);
    }
  }
  &-fwd, &-f {
    &.panel, & .panel {
      transform-origin: $back; transform: scale(1.55,1);
    }
  }
  &-back-fwd, &-bf, &-fwd-back, &-fb {
    &.panel, & .panel {
      transform-origin: center; transform: scale(1.55,1);
    }
  }
  &-up-down, &-ud, &-down-up, &du {
    &.panel, & .panel {
      transform-origin: center center; transform: scale(1,1.55);
    }
  }
  &-up-back, &-ub, &-back-up, &-bu {
    &.panel, & .panel {
      transform-origin: bottom $fwd; transform: scale(1.55,1.55);
    }
  }
  &-up-fwd, &-uf, &-fwd-up, &-fu {
    &.panel, & .panel {
      transform-origin: bottom $back; transform: scale(1.55,1.55);
    }
  }
  &-down-back, &-db, &-back-down, &-bd {
    &.panel, & .panel {
      transform-origin: top $fwd; transform: scale(1.55,1.55);
    }
  }
  &-down-fwd, &-df, &-fwd-down, &-fd {
    &.panel, & .panel {
      transform-origin: top $back; transform: scale(1.55,1.55);
    }
  }
  &-up-half, &-uh, &-up-fwd-back, &-ufb, &-up-back-fwd, &-ubf {
    &.panel, & .panel {
      transform-origin: center bottom; transform: scale(1.55,1.55);
    }
  }
  &-down-half, &-dh, &-down-fwd-back, &-dfb, &-down-back-fwd, &-dbf {
    &.panel, & .panel {
      transform-origin: center top; transform: scale(1.55,1.55);
    }
  }
  &-back-half, &-bh, &-up-down-back, &-udb, &-back-up-down, &-bud {
    &.panel, & .panel {
      transform-origin: $fwd center; transform: scale(1.55,1.55);
    }
  }
  &-fwd-half, &-fh, &-up-down-fwd, &-udf, &-fwd-up-down, &-fud {
    &.panel, & .panel {
      transform-origin: $back center; transform: scale(1.55,1.55);
    }
  }
  &-all, &-a {
    &.panel, & .panel {
      transform-origin: center center; transform: scale(1.55,1.55);
    }
  }
}

.bleed, .b {
  @include bleed( left, right )
}
.prtl .bleed, .prtl .b {
  @include bleed( right, left )
}



.panel.bleed{
  position: relative;
  /* overflow: visible; */
  background:#ccc;
}
.panel.bleed:before {
  position: absolute;
  overflow: hidden;
  content: '';
//  left: 0;
//  top:0;
  height: 100%;
  width: 100%; /* 100vw */
  z-index: -1;
}

.panel.bleed.all {
  position: absolute;
  height: 120%;  /* magic number 127% */
  width: 120%;   /* magic number 127%/133% */
  transform: translate(-20px, -20px);
  text-align:  center;
  border: 2px #000;
}
.panel.bleed.up {
  bottom: 10%;
  height: 105%;
//  height: 150%; /* magic number 150% */
//  bottom: 55%;  /* magic number 55% */
  /* align text label to bottom of box https://stackoverflow.com/a/17123364/7207622 */
  display: flex;
  align-items: flex-end;
  /* end align */
}
.panel.bleed.down {
  height: 150%;
}
.panel.bleed.left {
  margin-left: -2px;
  text-align:right;
//  width: 140%;
//  transform: translateX(-40%);
  width: 150%;
  right: 17%; /* magic number */

}
.panel.bleed.right {
  width: 150%;
}
/* fix text-align not working with flex display in up+left corner-case */
//.panel.bleed.up.left {
//  justify-content: flex-end;
//}

.panel.bleed.all {
  background: repeating-linear-gradient(
    0deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.left {
  background: repeating-linear-gradient(
    0deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.right {
  background: repeating-linear-gradient(
    180deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.up {
  background: repeating-linear-gradient(
    90deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.down {
  background: repeating-linear-gradient(
    270deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.up.left {
  background: repeating-linear-gradient(
    45deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.down.right {
  background: repeating-linear-gradient(
    45deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.up.right {
  background: repeating-linear-gradient(
    -45deg,
    #aaa 4px,
    #ddd 8px);
}
.panel.bleed.down.left {
  background: repeating-linear-gradient(
    -45deg,
    #aaa 4px,
    #ddd 8px);
}


//.panel.bleed{
//  position: relative;
//  /* overflow: visible; */
//  background:#ccc;
//}
//.panel.bleed:before {
//  position: absolute;
//  overflow: hidden;
//  content: '';
////  left: 0;
////  top:0;
//  height: 100%;
//  width: 100%; /* 100vw */
//  z-index: -1;
//}
//
//.panel.bleed.all {
//  position: absolute;
//  padding: 0;
//  margin:  0;
//  text-align:  center;
//  height: 200%;
//  width:  200%;
////  height: 200px;  /* magic number 127% */
////  width: 200px;   /* magic number 127%/133% */
//  border: 2px #000;
//}
//.panel.bleed.up {
//  height: 150%; /* magic number 150% */
//  bottom: 55%;  /* magic number 55% */
//  /* align text label to bottom of box https://stackoverflow.com/a/17123364/7207622 */
//  display: flex;
//  align-items: flex-end;
//  /* end align */
//}
//.panel.bleed.down {
//  height: 150%;
//}
//.panel.bleed.left {
//  margin-left: -2px;
//  text-align:right;
//  width: 150%;
//  right: 17%; /* magic number */
//
//}
//.panel.bleed.right {
//  width: 150%;
//}
///* fix text-align not working with flex display in up+left corner-case */
//.panel.bleed.up.left {
//  justify-content: flex-end;
//}
//
//.panel.bleed.all {
//  background: repeating-linear-gradient(
//    0deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.left {
//  background: repeating-linear-gradient(
//    0deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.right {
//  background: repeating-linear-gradient(
//    180deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.up {
//  background: repeating-linear-gradient(
//    90deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.down {
//  background: repeating-linear-gradient(
//    270deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.up.left {
//  background: repeating-linear-gradient(
//    45deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.down.right {
//  background: repeating-linear-gradient(
//    45deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.up.right {
//  background: repeating-linear-gradient(
//    -45deg,
//    #aaa 4px,
//    #ddd 8px);
//}
//.panel.bleed.down.left {
//  background: repeating-linear-gradient(
//    -45deg,
//    #aaa 4px,
//    #ddd 8px);
//}
